/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  /* user-select: none; */
  background-color: #ffffff;

  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;

  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content:space-evenly;
}

/* Portrait layout (default) */
.app {
  background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position: absolute; /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px; /* text area height */
  width: 225px; /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}

.event {
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

.event.listening {
  background-color: #333333;
  display: block;
}

.event.received {
  background-color: #4b946a;
  display: none;
}

#deviceready.ready .event.listening {
  display: none;
}
#deviceready.ready .event.received {
  display: block;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: white;
  }
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

.AppTop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  height: 60px;
  background-color: azure;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10; /* Ensures its always on top. without some princess info text would appear on top when scrolled */
}
.menuTxt {
  width: 60vw;
  height: auto;
  margin: 5px;
}
.MenuIcon,
.invisableElement {
  height: 40px;
  margin: 10px;
}
section {
  background-color: #ffffff;
  height: 49%;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.turnSection {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}
.gameSection {
  margin-top: 64px;
  height: 59vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.secHead {
  font-size: 4vh;
  font-family: "Smooch Sans", sans-serif;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.secHeadP {
  font-size: 4vh;
  font-family: "Smooch Sans", sans-serif;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.secTopStuf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
.secTopStufP {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 4px;
}
.menuDots{
  height: 11px;
  padding-top: 13px;
}
.sectionsBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pSectionsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 2px;
}
.bpButtons {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 2px;
}
button {
  width: 60vw;
  height: 40px;

  font-family: "Smooch Sans", sans-serif;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 0px;
}
.pSelectBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
  height: 100%;
  margin-bottom: 5px;
}
.pTitle {
  width: 65vw;
  margin-bottom: 0;
  font-size: 14pt;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 4px;
  pointer-events: none;
}
.pName {
  margin-bottom: 0;
  font-size: 4vh;
  font-family: "Smooch Sans", sans-serif;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 4px;
  text-align: left;
  pointer-events: none;
}
.AB {
  font-size: 4vh;
  font-family: "Smooch Sans", sans-serif;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
  pointer-events: none;
}
.abText{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  font-size: 16pt;
  margin-bottom: 5px;
  margin-top: 5px;
}
.aboutP{
  font-size: 1.6vh;
  margin: 0;
}
.pBox {
  border: 4px solid #8ffffe;
  border-radius: 30px 50px 50px 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 11.6vh;
  background: linear-gradient(to bottom, #ffffff 5%, azure 100%);
  background-color: azure;
}
#picPlus1{
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}
.iText{
  font-size: 9pt;
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 3px;

}
.quote{
  font-size: 11pt;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.pPlusStuff{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 50px;
}
.aboutInfo{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardSmall {
  height: inherit;
  width: auto;
  pointer-events: none;
  max-height: 100px;
  max-width: 100px;
}
.picPlus{
  height: inherit;
}
.secCoin {
  border-radius:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
.addCN {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #ffd829 5%, #faad1e 100%);
  background-color: #ffd829;
  border-radius: 42px;
  border: 2px solid #bd2000;
  color: #b31800;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ded17c;
  height: 7vh;
  width: 50px;
  
  padding: 0;
}
.coinButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.currCoin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  margin-top: 12px;
  margin-bottom: 20px;
}
#cNumTurn {
  font-size: 5vh;
  margin-left: 5px;
  margin-top: 9px;
}

.secPoints {
  border-radius: 30px 50px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
.addP {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #acfffb 5%, #4558ff 100%);
  background-color: #ffd829;
  border-radius: 42px;
  border: 2px solid #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 13px;
  text-decoration: none;
  width: 65px;
  height: 7vh;
  margin: 2px;
}
.minP {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #ff7ed8 5%, #c7104d 100%);
  background-color: #ffd829;
  border-radius: 42px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 13px;
  text-decoration: none;
  width: 65px;
  height: 7vh;
  margin: 2px;
}
.cpB {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #a57eff 5%, #3f0088 100%);
  background-color: #ffd829;
  border-radius: 42px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  width: 140px;
  height: 7vh;
  margin: 2px;
}
.ccB {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #a57eff 5%, #3f0088 100%);
  background-color: #ffd829;
  border-radius: 42px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  text-decoration: none;
  width: 140px;
  height:  7vh;
}
.pButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pointButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.currPoints {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -18px;
}
.pText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  margin-top: 15px;
  margin-bottom: 20px;
}
#pNumGame {
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 12px;
  margin-left: 5px;
}
#spText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.princessSec {
  border-radius: 30px 50px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
.turnButton {
  margin-bottom: 10px;
}
.textBox{
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.allAbout{
  opacity: 0;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
#bigInfo1, #bigInfo2{
  opacity: 0;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;

}
.pList{
  list-style: none;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
}
.closeB{
  height: 25px;
  padding: 10px;
}
.backPButton{
  width: 100%;
}

/* ANIMATIONS */
@keyframes expand{
  from{
    height: 11.6vh;
    }
    to{
      height: 66vh;
    }
}
@keyframes close{
  from{
    height: 50vh;
    }
    to{
      height: 11.6vh;
    }
}
@keyframes cardFade{
  from{
    opacity: 0;
    display: none;
  }
  to{
    opacity: 1;
    display: flex;
  }
}